body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #202124;
} 

main {
  max-width: 1000px;
  display:block;
  margin: auto;
  font-family: josefin slab;
  color: #e8eaed;
}
  
a {
  text-decoration: none;
  color: #f59d9d;
  }

h1 {
  text-align: center;
  font-family: six caps;
  font-size: 90px;
  
}

.subtitle {
  text-align: center;
  font-size: 25px;
  font-family: josefin slab;
  color: #e8eaed;
}

figcaption {
  text-align:center;
  
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  }

#image {
  max-width:100%;
  opacity: 1;
   margin: auto auto;
  display:block;
  border:thick ridge #e8eaed ;
  filter: saturate(150%)
}
  
.center {
  text-align:center;   
}

ul {
  display: block; 
  max-width: 400px;
  margin: 0 auto 50px auto;
  text-align: left;
  margin-top: 30px;
  padding-inline-start: 0px;
  list-style-type: none;
}

.datesHeadtitle {
  text-align:center;
  font-size: 25px;
}

hr {
  max-width: 35%;
}

.hifenSize{
  font-size: 25px;
}

.personalQuote {
  font-size: 20px;
  font-style: italic;
  font-family: caveat;
  
}


.readMore {
  font-size: 18px;
}

a:hover{
  text-decoration: underline;
}

footer {
  background-color: #121213;
  color: white;
  max-width: 100vw;
  text-align: center;
  padding: 10px;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.footerWidth {
  max-width: 900px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.textMargin{
  margin-bottom: 40px;
}

#tribute-link{
  font-family:Ubuntu Condensed;
  }

.tributeLinkPhrase{
  font-family:Ubuntu Condensed;
  font-size: 13px;
}

#image:hover {
    transition: 1s ease-in;
    filter: saturate(180%) blur(0px) brightness(120%) contrast(200%);
  }

@media only screen and (max-device-width:632px){
  figure {
    width: calc(100vw - 2em);
  }

ul {
    display: block;
    max-width: 100%;
    margin: 0 auto 50px auto;
    text-align: left;
    margin-top: 30px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
      }
}


@media only screen and (min-device-width:632px){
  ul:hover {
  transform: scale(1.2);
  transition: 1s ease;
  border-radius: 35px ;
  background-color: #202124;
  padding: 20px 20px 20px 40px;
  }
}
